* {
    padding: 0;
    margin: 0;
    font-family: cursive;
}

body {
    background-color: antiquewhite;
}

nav {
    color: #fff;
    background-color: #000;
    height: 65px;
}

nav ul{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    list-style-type: none;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.3rem;
}

.brand img {
    width: 50px;
    border-radius: 50%;
}

nav ul li {
    padding: 0px 20px;
}

.container {
    min-height: 61.6vh;
    background-color: #df1a1a;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.songItemContainer {
    margin-top: 54px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.bottom {
    position: sticky;
    height: 100px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myProgressBar {
    width: 70vw;
    cursor: pointer;
}

.icons {
    margin-top: 12px;
    font-size: 30px;
}

.icons i {
    cursor: pointer;
}

#masterPlay {
    font-size: 35px;
    transition: 0.03s ease;
}

#masterPlay:hover {
    transform: scale(1.1);
}

.songInfo {
    position: absolute;
    left: 15.2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.1s ease-in;
    margin-right: 10px;
}